<div class="container mt-2 col-md-10">

    <h2 class="text-center">Gestión de Usuarios - Prueba Técnica</h2>
    <hr>

    <app-search (search)="handleSearch($event)"></app-search>

    <div class="card mx-3 mt-4">
        <div class="card-header">
            <div class="row align-items-end">
                <div class="col-10">
                    <h4>Lista de usuarios</h4>
                </div>
                <div class="col-2 ">
                    <button (click)="validator = 'guardar'" class="btn btn-dark" type="button">Crear Usuario</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID_USUARIO</th>
                        <th>ID_ROL</th>
                        <th>NOMBRE</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios | search:filtro_valor">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.rol}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.activo}}</td>
                        <td><button (click)="getUser($event)" value={{usuario.id}} class="btn btn-dark"><i class="fas fa-pencil-alt"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- INFORMACIÓN DEL USUARIO -->


    <app-crud-fom *ngIf="validator == 'guardar'"></app-crud-fom>
    <app-edit-form *ngIf="validator == 'editar'"></app-edit-form>

    <br>

</div>